/* @media screen and (min-width: 500px) {
    body {
       width:420px;
    }
 }
 
 @media screen and (min-width: 800px) {
    body {
       width:768px;
    }
 }

 @media only screen and (min-width: 1024px) {
    body {
       width:1000px;
    }
 }

 @media only screen and (min-width: 1133px) {
    body {
       width:1120px;
    }
 }

 @media only screen and (min-width: 1224px) {
    body {
       width:1200px;
    }
 }

 @media only screen and (min-width: 1824px) {
    body {
       width:1800px;
    }
 } */

body{
    font-family: "Book Antiqua";
    background-image: url('../images/photo-1501.jfif');
    background-size: 100% 100%;
}
.jumbotron{
    background-image: url('../images/photo-1459.jfif');
    background-size: 100% 100%;
    /* background-size: 40% auto; */ 
    z-index: auto;
    font-family: "Book Antiqua";
    font-size: xx-large;
    /* background-color: rgba(white,0.3); */
    color: white;
    /* background:linear-gradient(#baa898,#f66); */
}

.jumbotext {
    margin-left: 14%;
    margin-top:0.5rem;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    /* background-color: rgba(63, 62, 63, 0.3); */
    text-align: center;
    /* border-radius: 20px; */
    color: white;
    /* display: inline-flex; /* keep the background color wrapped tight */   
}

h1 {
    font-family: "Book Antiqua";
    /* font-size:xx-large; */
    text-align: center;
   /* display: inline-flex; /* keep the background color wrapped tight */    
  /*  background-color:(blue,0.3);*/

}

#datetext{
    margin-left: 3%;
    display: inline-flex; /* keep the background color wrapped tight */
    background-color: blue;
    color: white;
}
p {
    font-family: "Book Antiqua";
    text-align: center;
}

.lead{
 font-weight: bold;
}

.info {
    padding: 10px;
}

#location {
    font-weight: bold;
    color:blue;
}

#latlong {
    font-weight: bold;
    font-size: smaller;
    color:white;
}
#card-1{
    background:linear-gradient(#baa898,rgb(118, 115, 119));
}

#card-2{
     background:linear-gradient(#baa898,rgb(230, 240, 178));
}

#card-3{
    background:linear-gradient(#baa898,rgb(101, 96, 141));
}

#Events {
    font-family: "Book Antiqua";
    font-weight: bold;
    color:rgb(40, 26, 238);
}

thead {
    font-family: "Book Antiqua";
    color:rgb(40, 26, 238);
}
tbody{
 font-family: "Book Antiqua";
 font-size: medium;
}

#Weather {
    font-family: "Book Antiqua";
    font-weight: bold;
    color:blue;
}

.scrollable{
    overflow-y: auto;
    max-height: 240px;
  }

  #icon-desc {
    font-size: 3rem;
    /* padding-top: 2rem; */
}

#desc {
    font-size: 2rem;
    color: wheat;
}

#temperature {
    font-family: "Book Antiqua";
    font-size: 4rem;
    color: wheat;
}

#icon-thermometer {
    font-size: 3rem;
}

#body1 {
    background-color:linear-gradient(#baa898,rgb(195, 194, 206));
}

.humidity,
.wind,
.wind-degree {
    font-family: "Book Antiqua";
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 1rem;
    font-weight: bold;
    color: wheat;
}

.humidity-data,
.wind-data,
.wind-degree-data {
    font-family: "Book Antiqua";
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: wheat;
}  